<h2>Create New Blogger</h2>

<%= form_for @blogger do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br />

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :bio %>
<%= f.text_area :bio %>

<%= f.submit "Create Account" %>

<% end %>